<app-header title="Card"> </app-header>
<ion-content class="ion-padding">
    <ion-card mode="ios" color="primary">
        <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week
            in the woods. Wash your spirit clean.
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-item color="primary">
            <ion-icon slot="start" name="pin"></ion-icon>
            <ion-label>Marker</ion-label>
        </ion-item>
        <ion-card-content>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat, rerum suscipit quidem odio libero eos in
            optio iste consectetur aspernatur maxime error dolores labore perferendis quasi excepturi. Quos, beatae
            repellendus!
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-img src="/assets/shapes.svg"></ion-img>
        <ion-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id repellat iste unde in. Nam quod expedita quidem
            dolore, quo culpa aliquam possimus voluptatem neque laudantium deserunt nostrum asperiores officia
            reiciendis!
        </ion-card-content>
    </ion-card>
</ion-content>
