<app-header title="Input"></app-header>

<ion-content padding>
    <ion-list>
        <ion-list-header>
            <ion-label>Name:{{name || 'No hay nombre'}}</ion-label>
        </ion-list-header>
        <ion-item>
            <ion-label position="floating">Name:</ion-label>
            <ion-input [(ngModel)]="name"></ion-input>
        </ion-item>
    </ion-list>
    <form #formulario="ngForm" (ngSubmit)="onSubmitTemplate()">
        <ion-list>
            <ion-list-header>
                <ion-label>
                    Formulario Template: Valid: {{formulario.valid}}
                </ion-label>
            </ion-list-header>
            <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input
                    name="email"
                    type="email"
                    [(ngModel)]="user.email"
                    pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                    required
                ></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input name="password" type="password" [(ngModel)]="user.password" required></ion-input>
            </ion-item>
        </ion-list>
        <ion-button expand="full" type="submit" [disabled]="formulario.invalid">Enviar</ion-button>
    </form>
</ion-content>
